body {
    background-color: #27355C !important;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27355C !important;
}

.question_footer {
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 12px 40px 0 40px;
}

.quiz_card {
    width: 480px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz_card_answer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white !important;
}